#root {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,h2 {
  text-align: center;
}

.mono {
  font-family: mono;

}

ol {
  width: 100%;
  padding: 0;
}

li {
  font-size: 20px;
  margin: 25px 0;
}

input {
  width: 100%;
  padding : 4px;
  font-size: 20px;
}

input.correct { 
  outline: 2px solid LawnGreen;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.bold { 
  font-weight: bold;
}

.small {
  font-size: 15px;
}

.word { 
  margin-bottom: 10px;
}

.everyday.active {
  background-color: #3f3770;
}

.intermediate.active {
  background-color: #106375;
}

.challenging.active {
  background-color: #c12a33;
}

.difficulties {
  width: 100%;
  display: flex;
  gap: 4px;
}

.difficulties button {
  flex: 1;
}

.modal {
  position: fixed;
  background: #242424;
  left: 50%;
  top: 50%;
  min-height: 400px;
  min-width: 400px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
}